.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .login-form {
    width: 300px;
    border-radius: 0.75rem;
    background-color: var(--form-color);
    padding: 2rem;
    color: var(--text-color);
    margin-top: 1.5rem;
  }

  .login-form h1 {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
  }

  .login-form .describe-userlist{
    margin-top: 0.75rem;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    color: var(--label-color);
  }

  .signup {
    margin-top: 15px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--label-color);
 }

 .signup a {
    text-decoration: none;
 }

 .signup a:hover {
    text-decoration: underline;
    color: var(--label-color);
 }