.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .register-form {
    width: 350px;
    border-radius: 0.75rem;
    background-color: var(--form-color);
    padding: 2rem;
    color: var(--text-color);
    margin: 0 auto;
}

  .register-form h1 {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
  }

  .register-form .describe-form{
    margin-top: 0.75rem;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    color: var(--label-color);
  }

  .signin {
    margin-top: 15px;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--label-color);
 }

 .signin a {
    text-decoration: none;
 }

 .signin a:hover {
    text-decoration: underline;
    color: var(--label-color);
 }

 footer {
    margin-top: 5rem;
 }