@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .logout-button {
        display: none;
    }

    .hamburguer-menu-icon {
        display: flex;
        align-items: center;
        padding-right: 25px;
    }

    .hamburguer-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .hamburguer-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .hamburguer-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .hamburguer-menu .logout-button {
        display: block;
        padding: 1rem 2rem;
    }

    .hamburguer-menu .logout-button button{
        width: 100%;
    }

    .open {
        display: block;
    } 
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .content-user-list {
        padding: 1rem;
    }

    .user-table {
        width: 100%;
        table-layout: fixed;
    }

    .user-table th, .user-table td {
        padding: 0.7rem;
        word-wrap: break-word;
    }

    .user-table td {
        word-break: break-word;
    }
}

@media screen and (max-width: 720px) and (min-width: 540px) {
    .content-user-list {
        padding: 0.5rem;
    }

    .user-table {
        font-size: 0.9rem;
    }

    .user-table th,
    .user-table td {
        padding: 0.5rem;
    }

    .user-table td {
        word-break: break-word;
    }

    .user-table td button {
        font-size: 0.8rem;
        padding: 0.3rem;
    }
}

@media screen and (max-width: 540px) {
    .content-user-list {
        padding: 0.3rem;
    }

    .user-table {
        font-size: 0.8rem;
    }

    .user-table th, .user-table td {
        padding: 0.3rem;
    }

    .user-table td button {
        font-size: 0.7rem;
        margin-right: 5px;
    }

    .user-table td {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .logout-button {
        display: none;
    }

    .hamburguer-menu-icon {
        display: flex;
        align-items: center;
        padding-right: 25px;
    }

    .hamburguer-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .hamburguer-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .hamburguer-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .hamburguer-menu .logout-button {
        display: block;
        padding: 1rem 2rem;
    }

    .hamburguer-menu .logout-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.content-user-list {
    overflow-x: auto;
}

.user-table {
    min-width: 100%;
    table-layout: auto;
    border-spacing: 0;
}

.user-table th,
.user-table td {
    word-wrap: break-word;
    white-space: normal;
}

.user-table td {
    word-break: break-word;
}
