@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-size: 50px 50px;
    }

    header {
        height: 120px;
    }

    .logo {
        max-height: 100px;
    }

    .input-group {
        font-size: 0.8rem;
    }

    .input-group input {
        padding: 0.5rem 1rem;
    }

    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .input-wrapper i {
        font-size: 1rem;
        left: 8px;
    }

    .input-group input {
        padding-left: 2rem;
        font-size: 0.9rem;
    }

    .btn {
        padding: 0.65rem;
    }

    footer {
        margin-top: 3rem;
    }

    .social-links {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {

    .login-container,
    .register-container {
        padding: 1rem;
    }

    .login-form,
    .register-form {
        width: 100%;
        padding: 1rem;
    }

    .login-form h1,
    .register-form h1 {
        font-size: 1.2rem;
    }

    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    .input-wrapper i {
        font-size: 0.9rem;
        left: 6px;
    }

    .input-group input {
        padding-right: 1.8rem;
        font-size: 0.85rem;
    }

    .btn {
        width: 100%;
    }

    .social-links {
        font-size: 1.2rem;
    }
}